html,
body {
  padding: 0;
  margin: 0;
  font-family: Nanum Gothic, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* -------------------------------------- Header */
#header-logo {
  max-width: 3rem;
  margin-top: 1rem;
}

.header-nav {
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  top: 0;
  width: 100%;
  align-items: center;
  padding-bottom: 1.5vh;
  z-index: 10;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  align-items: center;
}

.nav-links li {
  list-style: none;
  margin-top: .5em;
}

.nav-links a {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
}

.burger {
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

/* -------------------------------------  responsive */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: fixed;
    right: 0px;
    height: 93vh;
    top: 5vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    font-size: 1.5em;
    font-weight: bold;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
    margin-top: 0.5em;
  }
}

.nav-active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ====================================== welcome.js */

.welcome-container {
  margin-top: 15vh;
  padding-left: 4vw;
  height: 55vh;
  width: 100%;
  z-index: -5;
  text-align: center;
}


/* .layer {
  display: block;
}

#letter-on-top {
  font-family: 'helvetica';
  font-size: 6em;
}
#letter-on-middle {
  font-family: 'helvetica';
  font-size: 30em;
}
#letter-on-bottom {
  font-family: 'helvetica';
  font-size: 6em;
} */


#letter-on-top {
  font-family: 'helvetica';
  position: absolute;
  font-size: 3em;
  top: 190px;
  left: 60px;
  z-index: -2;
}

#letter-on-middle {
  font-family: 'helvetica';
  position: absolute;
  font-size: 14.5em;
  z-index: -3;
  color: grey;
  left: 120px;
  top: -11px;
}

#letter-on-bottom {
  font-family: 'helvetica';
  position: absolute;
  font-size: 3em;
  top: 230px;
  left: 100px;
  z-index: -2;
}


/* -------------------------------------- statement */

.statement-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 12vh;
  z-index: -5;
}


.statement {
  padding: 1em;
  padding-top: 12vh;
  display: block;
  width: 80%;
  color: white;
  font-size: larger;
  line-height: 1.5em;
  font-style: italic;
}

.skills {
  padding-top: 3vh;
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.skills h3 {
  font-size: 2.5em;
  margin-bottom: 10vh;
  display: block;
  width: 100%;
}

.skills-card {
  position: relative;
  background-color: gray;
  width: 20rem;
  height: 17rem;
  /* add height */
  margin: 5em 2em;
  padding: 2em 1.5em;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  z-index: 1;
  border-radius: 2px;
}

.skills-card:hover {
  height: 30rem;

}

.skills-card-title {
  background-color: white;
  position: relative;
  border-radius: 4px;
  width: 17rem;
  height: 17rem;
  top: -5rem;
  z-index: 0;
}

.skills-card-title h4 {
  line-height: 14rem;
  color: black;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.skills-card-content {
  position: relative;
  margin-top: -10rem;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.skills-card:hover .skills-card-content {
  visibility: visible;
  opacity: 1;
  margin-top: -7em;
}

.skills-card-content ul {
  padding: 2em;
}

.skills-card-content li {
  list-style: none;
  line-height: 1.5em;
}

/* =========================================== dev works title */

.title-devworks {
  margin-top: 20vh;
  margin-bottom: 20vh;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.title-devworks h3 {
  background-color: black;
  display: block;
  width: 66%;
  font-weight: bold;
  font-size: 3em;
  text-transform: capitalize;
  color: white;
  line-height: 2em;
  padding-left: 1em;
  border-radius: 3px;
}

/* ============================================ dev works cards */

.devWorks-container {
  margin-bottom: 20vh;
}

.devWorks-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}

.devWorks-card-image {
  width: 60%;
}

.devWorks-card-image img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

.devWorks-text {
  padding-left: 2em;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.devWorks-text h3 {
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
}

.devWorks-text-tech {
  display: inline-block;
  color: white;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 30px;
  background-color: gray;
}

@media screen and (max-width: 768px) {
  .devWorks-card-image {
    width: 100%;
  }

  .devWorks-text {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .devWorks-text a {
    width: 100%;
  }
}